    <input name="{{ name }}" value="{{ value }}" type="hidden">
    <div class="form-group">
    <label for="exampleFormControlSelect1">Select Class:</label>
        <select class="form-control" id="class-select" name="character_class">
            <option value="ASS">Assault</option>
            <option value="GRE">Grenadier</option>
            <option value="GUN">Gunner</option>
            <option value="RAN">Ranger</option>
            <option value="SHA">Sharpshooter</option>
            <option value="SHI">Shinobi</option>
            <option value="SPE">Specialist</option>
            <option value="TEC">Technical</option>
        </select>
    </div>

{#<div class="tab-content">#}
{#    <div class="tab-pane" id="ASS">#}
{#        {% include 'users/modals/classes/assault/assault_info.html' %}#}
{#    </div>#}
{#    <div class="tab-pane active" id="GRE">#}
{#        {% include 'users/modals/classes/grenadier/grenadier_info.html' %}#}
{#    </div>#}
{#    <div class="tab-pane" id="ASS">#}
{#        {% include 'users/modals/classes/gunner/gunner_info.html' %}#}
{#    </div>#}
{#    <div class="tab-pane" id="ASS">#}
{#        {% include 'users/modals/classes/ranger/ranger_info.html' %}#}
{#    </div>#}
{#    <div class="tab-pane" id="ASS">#}
{#        {% include 'users/modals/classes/sharpshooter/sharpshooter_info.html' %}#}
{#    </div>#}
{#    <div class="tab-pane" id="ASS">#}
{#        {% include 'users/modals/classes/shinobi/shinobi_info.html' %}#}
{#    </div>#}
{#    <div class="tab-pane" id="ASS">#}
{#        {% include 'users/modals/classes/specialist/specialist_info.html' %}#}
{#    </div>#}
{#    <div class="tab-pane" id="ASS">#}
{#        {% include 'users/modals/classes/technical/technical_info.html' %}#}
{#    </div>#}
{#</div>#}