{% extends 'partials/modals/modal.html' %}
{% block modal_body %}
<div class="modal-body">
    <div class="radio">
        <label><input type="radio" name="optradio">Point Blank</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio">Short</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio">Medium</label>
    </div>
    <div class="radio">
        <label><input type="radio" name="optradio">Long</label>
    </div>
</div>
{% endblock %}