{% extends 'partials/modals/modal.html' %}
{% block modal_body %}
<form id="edit_pw" action="{{ url_for('users.edit_password') }}" method="POST">
    <div class="form-group">
        <label for="newPassword">New Password:</label>
        <input type="password" name="new_password" class="form-control" id="newPassword" aria-describedby="emailHelp" placeholder="password">
    </div>
    <div class="form-group">
        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirm_password" class="form-control" id="confirmPassword" aria-describedby="emailHelp" placeholder="password">
    </div>
</form>
{% endblock %}