<ul class="list-group">
    <li class="list-group-item">Characters</li>
    {% for char in characters %}
        <li class="list-group-item">
            <div class="row">
                <div class="col-3">
                    {{ char.character_name }}
                </div>
                <div class="col-3">
                    {{ char.character_class }}
                </div>
                <div class="col-3">
                    {{ char.rank }}
                </div>
                <div class="col-1">
{#                    <button type="button" class="btn btn-success">#}
{#                        <i class="fas fa-eye"></i>#}
{#                    </button>#}
                </div>
                <div class="col-1">
                    {% if char.can_rank_up %}
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#level_{{ char.id_str }}Modal">
                        <i class="fas fa-level-up-alt"></i>
                    </button>
                    {% endif %}
                </div>
                <div class="col-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#edit_{{ char.id_str }}Modal">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                </div>
            </div>
{#            {% if char.can_rank_up %}#}
{#                {% with modal_title = 'Level Up Character', modal_id = 'level_' + char.id_str, modalType = 'save', form_id = 'level_char' %}#}
{#                    {% include 'users/modals/level_character.html' %}#}
{#                {% endwith %}#}
{#            {% endif %}#}
{#            {% with modal_title = 'Edit Character', modal_id = 'edit_' + char.id_str, modalType = 'save', form_id = 'edit_char' %}#}
{#                {% include 'users/modals/edit_character.html' %}#}
{#            {% endwith %}#}
        </li>
    {% endfor %}
        <li class="list-group-item">
        <div class="row">
        {% if session["confirmed"] %}
            <div class="col-11">
                {% if not characters %}
                    Create your first character
                {% endif %}
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newCharacterModal">
                    <i class="fas fa-plus"></i>
                </button>
            <div>
        {% else %}
            <div class="col">
                {% if not characters %}
                    Please validate your email to create a character.
                {% endif %}
            </div>
        {% endif %}
        </div>
        </li>
</ul>

{% with modal_title = 'New Character', modal_id = 'newCharacter', modalType = 'save', form_id = 'new_char' %}
    {% include 'users/modals/new_character.html' %}
{% endwith %}

{% for char in characters %}
    {% if char.can_rank_up %}
        {% with modal_title = 'Level Up Character', modal_id = 'level_' + char.id_str, modalType = 'level',
        form_id = 'level_' + char.id_str, name = 'character_id', value = char.id_str, character = char  %}
            {% include 'users/modals/level_character.html' %}
        {% endwith %}
    {% endif %}

    {% with modal_title = 'Edit Character', modal_id = 'edit_' + char.id_str, modalType = 'save',
    form_id = 'edit-char-' + char.id_str, delete = True %}
        {% include 'users/modals/edit_character.html' %}
    {% endwith %}

    {% with modal_title = 'Delete ' + char.character_name, modal_id = 'delete_' + char.id_str, modalType = 'yes_no',
        form_id = 'delete_char', action = url_for('users.delete_char'), name = 'char_id', value = char.id_str %}
        {% include 'users/modals/delete_character.html' %}
    {% endwith %}
{% endfor %}